 <!-- hs Slider Start -->
<div class="slider-area">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-captions caption-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="content">
                                    <h1 data-animation="animated bounceInLeft">Welcome To</h1>
                                    <h2 data-animation="animated zoomInDown">the <span>Jyotish</span> Astrology</h2>
                                    <p data-animation="animated bounceInUp">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi <br> elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio.</p>
                                    <div class="hs_effect_btn">
                                        <ul>
                                            <li data-animation="animated flipInX"><a href="#" class="hs_btn_hover">Read more</a></li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                                <div class="content_tabs">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2" data-animation="animated bounceInRight hs_slider_tab_tow">
                                                <div class="hs_slider_tabs_icon_wrapper">
                                                    <i class="flaticon-home"></i>
                                                </div>
                                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                                    <ul>
                                                        <li><a href="#" class="hs_tabs_btn">Vasthusastra</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2 right_tab" data-animation="animated bounceInLeft hs_slider_tab_three">
                                                <div class="hs_slider_tabs_icon_wrapper">
                                                    <i class="flaticon-avatar"></i>
                                                </div>
                                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                                    <ul>
                                                        <li><a href="#" class="hs_tabs_btn">Carrer Tarot</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                                            <div class="slider_bottom_tab">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2" data-animation="animated bounceInRight hs_slider_tab_four">
                                                            <div class="hs_slider_tabs_icon_wrapper">
                                                                <i class="flaticon-shapes"></i>
                                                            </div>
                                                            <div class="hs_slider_tabs_icon_cont_wrapper">
                                                                <ul>
                                                                    <li><a href="#" class="hs_tabs_btn">Love Tarot</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2" data-animation="animated bounceInLeft hs_slider_tab_fifth">
                                                            <div class="hs_slider_tabs_icon_wrapper">
                                                                <i class="flaticon-coins"></i>
                                                            </div>
                                                            <div class="hs_slider_tabs_icon_cont_wrapper">
                                                                <ul>
                                                                    <li><a href="#" class="hs_tabs_btn">Numerology</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class=" carousel-captions caption-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="content">
                                    <h1 data-animation="animated bounceInLeft">Welcome To</h1>
                                    <h2 data-animation="animated zoomInDown">the <span>Jyotish</span> Astrology</h2>
                                    <p data-animation="animated bounceInUp">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi <br> elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio.</p>
                                    <div class="hs_effect_btn">
                                        <ul>
                                            <li data-animation="animated flipInX"><a href="#" class="hs_btn_hover">Read more</a></li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                                <div class="content_tabs">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2" data-animation="animated bounceInRight hs_slider_tab_tow">
                                                <div class="hs_slider_tabs_icon_wrapper">
                                                    <i class="flaticon-home"></i>
                                                </div>
                                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                                    <ul>
                                                        <li><a href="#" class="hs_tabs_btn">Vasthusastra</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2 right_tab" data-animation="animated bounceInLeft hs_slider_tab_three">
                                                <div class="hs_slider_tabs_icon_wrapper">
                                                    <i class="flaticon-avatar"></i>
                                                </div>
                                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                                    <ul>
                                                        <li><a href="#" class="hs_tabs_btn">Carrer Tarot</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                                            <div class="slider_bottom_tab">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2" data-animation="animated bounceInRight hs_slider_tab_four">
                                                            <div class="hs_slider_tabs_icon_wrapper">
                                                                <i class="flaticon-shapes"></i>
                                                            </div>
                                                            <div class="hs_slider_tabs_icon_cont_wrapper">
                                                                <ul>
                                                                    <li><a href="#" class="hs_tabs_btn">Love Tarot</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2" data-animation="animated bounceInLeft hs_slider_tab_fifth">
                                                            <div class="hs_slider_tabs_icon_wrapper">
                                                                <i class="flaticon-coins"></i>
                                                            </div>
                                                            <div class="hs_slider_tabs_icon_cont_wrapper">
                                                                <ul>
                                                                    <li><a href="#" class="hs_tabs_btn">Numerology</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="carousel-captions caption-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="content">
                                    <h1 data-animation="animated bounceInLeft">Welcome To</h1>
                                    <h2 data-animation="animated zoomInDown">the <span>Jyotish</span> Astrology</h2>
                                    <p data-animation="animated bounceInUp">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi <br> elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio.</p>
                                    <div class="hs_effect_btn">
                                        <ul>
                                            <li data-animation="animated flipInX"><a href="#" class="hs_btn_hover">Read more</a></li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                                <div class="content_tabs">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2" data-animation="animated bounceInRight hs_slider_tab_tow">
                                                <div class="hs_slider_tabs_icon_wrapper">
                                                    <i class="flaticon-home"></i>
                                                </div>
                                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                                    <ul>
                                                        <li><a href="#" class="hs_tabs_btn">Vasthusastra</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2 right_tab" data-animation="animated bounceInLeft hs_slider_tab_three">
                                                <div class="hs_slider_tabs_icon_wrapper">
                                                    <i class="flaticon-avatar"></i>
                                                </div>
                                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                                    <ul>
                                                        <li><a href="#" class="hs_tabs_btn">Carrer Tarot</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                                            <div class="slider_bottom_tab">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2" data-animation="animated bounceInRight hs_slider_tab_four">
                                                            <div class="hs_slider_tabs_icon_wrapper">
                                                                <i class="flaticon-shapes"></i>
                                                            </div>
                                                            <div class="hs_slider_tabs_icon_cont_wrapper">
                                                                <ul>
                                                                    <li><a href="#" class="hs_tabs_btn">Love Tarot</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="hs_slider_right_tabs_wrapper hs_slider_right_tabs_wrapper2" data-animation="animated bounceInLeft hs_slider_tab_fifth">
                                                            <div class="hs_slider_tabs_icon_wrapper">
                                                                <i class="flaticon-coins"></i>
                                                            </div>
                                                            <div class="hs_slider_tabs_icon_cont_wrapper">
                                                                <ul>
                                                                    <li><a href="#" class="hs_tabs_btn">Numerology</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-nevigation">
                <a class="prev" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-sign-out"></i>
                </a>
                <a class="next" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-sign-in"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- hs Slider End -->
<!-- hs sign wrapper Start -->
<div class="hs_sign_main_wrapper">
    <!-- hs_slider_bottom_wrapper Start -->
    <div class="hs_slider_bottom_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hs_slider_bottom_box">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" name="nameOne" placeholder="My Name is">
                            </div>
                            <div class="form-group">
                                <select class="gender_select" name="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="datepicker">
                            </div>
                            <div class="form-group">
                                <select class="phone_select" name="phone">
                                    <option value="india">+91(india) </option>
                                    <option value="india">+91(india) </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="phone_no" placeholder="Mobile Number">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="Password" placeholder="Password">
                            </div>
                            <div class="remember_box">
                                <label class="control control--checkbox">
                                    Terms-and-conditions
                                    <input type="checkbox">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="hs_effect_btn">
                                <ul>
                                    <li data-animation="animated flipInX"><a href="#" class="hs_btn_hover">Get Free Account</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs_slider_bottom_wrapper End -->
    <!-- hs_sign_wrapper Start -->
    <div class="hs_sign_wrapper">
        <div class="container">
            <div class="hs_sign_heading_wrapper">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2><i class="fa fa-clock"></i>Choose Your <span>Zodiac Sign</span></h2>
                        <h4><span>&nbsp;</span></h4>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum<br> auctor, nisi elit consequat hello Aenean world.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon1.png" alt="icon1">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Aries</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon2.png" alt="icon2">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Taurus</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon3.png" alt="icon3">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Gemini</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon4.png" alt="icon4">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Cancer</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon5.png" alt="icon5">
                        </div>
                        <div class="sign_box_cont">
                            <h2>leo</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon6.png" alt="icon6">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Virgo</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon7.png" alt="icon7">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Libra</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon8.png" alt="icon8">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Scorpio</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon9.png" alt="icon9">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Sagittairus</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon10.png" alt="icon10">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Capricorn</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon11.png" alt="icon11">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Aquarius</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="hs_sign_box">
                        <div class="sign_box_img">
                            <img src="~/assets/images/content/icon12.png" alt="icon12">
                        </div>
                        <div class="sign_box_cont">
                            <h2>Pisces</h2>
                            <p>31 Mar - 12 Oct</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs_sign_wrapper Start -->
</div>
<!-- hs sign wrapper End -->
<!-- hs title wrapper Start -->
<div class="hs_title_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>Our Most <span>Services</span></h2>
                        <h4><span>&nbsp;</span></h4>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum<br> auctor, nisi elit consequat hello Aenean world.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_title_box_main_wrapper">
                    <div class="hs_title_img_wrapper">
                        <img src="~/assets/images/content/title_img1.jpg" alt="totle_img">
                        <ul>
                            <li>$14</li>
                        </ul>
                    </div>
                    <div class="hs_title_img_cont_wrapper">
                        <h2><a href="#">Tarot Reading</a></h2>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis.</p>
                        <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_title_box_main_wrapper">
                    <div class="hs_title_img_wrapper">
                        <img src="~/assets/images/content/title_img2.jpg" alt="totle_img">
                        <ul>
                            <li>$12</li>
                        </ul>
                    </div>
                    <div class="hs_title_img_cont_wrapper">
                        <h2><a href="#">Crystal ball reading</a></h2>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis.</p>
                        <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_title_box_main_wrapper">
                    <div class="hs_title_img_wrapper">
                        <img src="~/assets/images/content/title_img3.jpg" alt="totle_img">
                        <ul>
                            <li>$22</li>
                        </ul>
                    </div>
                    <div class="hs_title_img_cont_wrapper">
                        <h2><a href="#">Palm Reading</a></h2>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis.</p>
                        <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_effect_btn">
                    <ul>
                        <li><a href="#" class="hs_btn_hover">View All</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs title wrapper End -->
<!-- hs news slider wrapper Start -->
<div class="hs_news_slider_main_wrapper">
    <!-- hs_news_slider_bg_main_wrapper Start -->
    <div class="hs_news_slider_bg_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hs_news_slider_bg_wrapper">
                        <div class="hs_news_slider_bg_overlay"></div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_news_slider_wrapper">
                                    <div class="owl-carousel owl-theme">
                                        <div class="item">
                                            <div class="hs_news_slider_cont_wrapper">
                                                <h2>Today Horoscope</h2>
                                                <h3>Believe in things that can fortunately<br> change your life</h3>
                                                <p>This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem<br> quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                                <div class="hs_effect_btn hs_news_slider_btn_wrapper">
                                                    <ul>
                                                        <li><a href="#" class="hs_btn_hover">Read more</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="hs_news_slider_cont_wrapper">
                                                <h2>Today Horoscope</h2>
                                                <h3>Believe in things that can fortunately<br> change your life</h3>
                                                <p>This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem<br> quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                                <div class="hs_effect_btn hs_news_slider_btn_wrapper">
                                                    <ul>
                                                        <li><a href="#" class="hs_btn_hover">Read more</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="hs_news_slider_cont_wrapper">
                                                <h2>Today Horoscope</h2>
                                                <h3>Believe in things that can fortunately<br> change your life</h3>
                                                <p>This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem<br> quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                                <div class="hs_effect_btn hs_news_slider_btn_wrapper">
                                                    <ul>
                                                        <li><a href="#" class="hs_btn_hover">Read more</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs_news_slider_bg_main_wrapper end -->
</div>
<!-- hs news slider wrapper end -->
<!-- hs about ind wrapper Start -->
<div class="hs_about_indx_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="hs_about_left_img_wrapper">
                    <img src="~/assets/images/content/about_img.jpg" alt="about_img" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>About <span>Jyotish</span></h2>
                        <h4><span>&nbsp;</span></h4>
                    </div>
                </div>
                <div class="hs_about_right_cont_wrapper">
                    <h1>+1800-123-123</h1>
                    <h2>Horoscope Revels The Will Of God</h2>
                    <p>
                        Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti<br><br>
                        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.
                    </p>

                    <div class="hs_effect_btn hs_about_btn">
                        <ul>
                            <li><a href="#" class="hs_btn_hover">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs about ind wrapper End -->
<!-- hs testi slider wrapper Start -->
<div class="hs_testi_slider_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>What clients <span> are saying</span></h2>
                        <h4><span>&nbsp;</span></h4>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum<br> auctor, nisi elit consequat hello Aenean world.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_testi_slider_wrapper">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="testimonial_slider_content">
                                        <img src="~/assets/images/content/testi_client_img1.jpg" class="img-responsive" alt="section3_t2__img" />
                                        <h5>Ralph Rios</h5>
                                        <small>Creative Director</small>
                                        <h4><span>&nbsp;</span></h4>
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer galley of type.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs">
                                    <div class="testimonial_slider_content">
                                        <img src="~/assets/images/content/testi_client_img2.jpg" class="img-responsive" alt="section3_t2__img" />
                                        <h5>Ralph Rios</h5>
                                        <small>Creative Director</small>
                                        <h4><span>&nbsp;</span></h4>
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer galley of type.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="testimonial_slider_content">
                                        <img src="~/assets/images/content/testi_client_img1.jpg" class="img-responsive" alt="section3_t2__img" />
                                        <h5>Ralph Rios</h5>
                                        <small>Creative Director</small>
                                        <h4><span>&nbsp;</span></h4>
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer galley of type.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs">
                                    <div class="testimonial_slider_content">
                                        <img src="~/assets/images/content/testi_client_img2.jpg" class="img-responsive" alt="section3_t2__img" />
                                        <h5>Ralph Rios</h5>
                                        <small>Creative Director</small>
                                        <h4><span>&nbsp;</span></h4>
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer galley of type.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="testimonial_slider_content">
                                        <img src="~/assets/images/content/testi_client_img1.jpg" class="img-responsive" alt="section3_t2__img" />
                                        <h5>Ralph Rios</h5>
                                        <small>Creative Director</small>
                                        <h4><span>&nbsp;</span></h4>
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer galley of type.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs">
                                    <div class="testimonial_slider_content">
                                        <img src="~/assets/images/content/testi_client_img2.jpg" class="img-responsive" alt="section3_t2__img" />
                                        <h5>Ralph Rios</h5>
                                        <small>Creative Director</small>
                                        <h4><span>&nbsp;</span></h4>
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer galley of type.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs testi slider wrapper End -->
<!-- hs service wrapper Start -->
<div class="hs_service_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>Our <span> services</span></h2>
                        <h4><span>&nbsp;</span></h4>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum<br> auctor, nisi elit consequat hello Aenean world.</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-area ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hs_service_main_box_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="flaticon-success"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                                <div class="hs_service_icon_cont_wrapper">
                                    <h2>Career</h2>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                    <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hs_service_main_box_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="flaticon-marry-me"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                                <div class="hs_service_icon_cont_wrapper">
                                    <h2>marriage</h2>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                    <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hs_service_main_box_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="flaticon-islamic-temple"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                                <div class="hs_service_icon_cont_wrapper">
                                    <h2>Worship lesson</h2>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                    <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hs_service_main_box_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="flaticon-pregnancy"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                                <div class="hs_service_icon_cont_wrapper">
                                    <h2>Pregnancy</h2>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                    <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hs_service_main_box_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="flaticon-engagement-ring"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                                <div class="hs_service_icon_cont_wrapper">
                                    <h2>Manglik Dosha</h2>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                    <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hs_service_main_box_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="flaticon-animal"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                                <div class="hs_service_icon_cont_wrapper">
                                    <h2>Kundli Dosha</h2>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                    <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hs_service_main_box_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="flaticon-giftboxes"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                                <div class="hs_service_icon_cont_wrapper">
                                    <h2>Festivals</h2>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                    <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hs_service_main_box_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="flaticon-baby-with-diaper"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                                <div class="hs_service_icon_cont_wrapper">
                                    <h2>Name Analysis</h2>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                    <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!--/.portfolio-area-->
        </div>
    </div>
</div>
<!-- hs service wrapper End -->
<!-- hs Counter wrapper Start -->
<div class="hs_counter_main_wrapper">
    <div class="hs_counter_cont_wrapper">
        <div class="count-description">
            <span class="timer">123</span>
            <h5 class="con1">Trusted by<br> Million Clients</h5>
        </div>
    </div>
    <div class="hs_counter_cont_wrapper hs_counter_cont_wrapper2">
        <div class="count-description">
            <span class="timer">16</span>
            <h5 class="con2">
                Years of<br> Experience
            </h5>
        </div>
    </div>
    <div class="hs_counter_cont_wrapper">
        <div class="count-description">
            <span class="timer">13</span>
            <h5 class="con3">
                Types of <br> Horoscopes
            </h5>
        </div>
    </div>
    <div class="hs_counter_cont_wrapper hs_counter_cont_wrapper4">
        <div class="count-description">
            <span class="timer">16</span>
            <h5 class="con4">
                Qualified <br> Astrologers
            </h5>
        </div>
    </div>
    <div class="hs_counter_cont_wrapper hs_counter_cont_wrapper5">
        <div class="count-description">
            <span class="timer">36</span>
            <h5 class="con4">
                Sucess<br> Jyotish
            </h5>
        </div>
    </div>
</div>
<!-- hs Counter wrapper End -->
<!-- hs astrology team wrapper Start -->
<div class="hs_astrology_team_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>Our <span> Team</span></h2>
                        <h4><span>&nbsp;</span></h4>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum<br> auctor, nisi elit consequat hello Aenean world.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_team_slider_wrapper">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="hs_astro_team_img_main_wrapper">
                                <div class="hs_astro_img_wrapper">
                                    <img src="~/assets/images/content/about/astro_img1.jpg" alt="team-img">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
                                    </ul>
                                </div>
                                <div class="hs_astro_img_cont_wrapper">
                                    <div class="hs_astro_img_inner_wrapper">
                                        <h2><a href="#">Rashmi Doe</a></h2>
                                        <p>Magic ball reader</p>
                                    </div>
                                    <div class="hs_astro_img_bottom_wrapper">
                                        <ul>
                                            <li>Charges :</li>
                                            <li>$5 / Min.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="hs_astro_team_img_main_wrapper">
                                <div class="hs_astro_img_wrapper">
                                    <img src="~/assets/images/content/about/astro_img2.jpg" alt="team-img">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
                                    </ul>
                                </div>
                                <div class="hs_astro_img_cont_wrapper">
                                    <div class="hs_astro_img_inner_wrapper">
                                        <h2><a href="#">Rashmi Doe</a></h2>
                                        <p>Magic ball reader</p>
                                    </div>
                                    <div class="hs_astro_img_bottom_wrapper">
                                        <ul>
                                            <li>Charges :</li>
                                            <li>$5 / Min.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="hs_astro_team_img_main_wrapper">
                                <div class="hs_astro_img_wrapper">
                                    <img src="~/assets/images/content/about/astro_img3.jpg" alt="team-img">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
                                    </ul>
                                </div>
                                <div class="hs_astro_img_cont_wrapper">
                                    <div class="hs_astro_img_inner_wrapper">
                                        <h2><a href="#">Rashmi Doe</a></h2>
                                        <p>Magic ball reader</p>
                                    </div>
                                    <div class="hs_astro_img_bottom_wrapper">
                                        <ul>
                                            <li>Charges :</li>
                                            <li>$5 / Min.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="hs_astro_team_img_main_wrapper">
                                <div class="hs_astro_img_wrapper">
                                    <img src="~/assets/images/content/about/astro_img4.jpg" alt="team-img">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
                                    </ul>
                                </div>
                                <div class="hs_astro_img_cont_wrapper">
                                    <div class="hs_astro_img_inner_wrapper">
                                        <h2><a href="#">Rashmi Doe</a></h2>
                                        <p>Magic ball reader</p>
                                    </div>
                                    <div class="hs_astro_img_bottom_wrapper">
                                        <ul>
                                            <li>Charges :</li>
                                            <li>$5 / Min.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs astrology team wrapper End -->
<!-- hs latest news wrapper Start -->
<div class="hs_latest_news_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>Latest <span> News</span></h2>
                        <h4><span>&nbsp;</span></h4>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum<br> auctor, nisi elit consequat hello Aenean world.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_lest_news_box_wrapper">
                    <div class="hs_lest_news_img_wrapper">
                        <img src="~/assets/images/content/news_img1.jpg" alt="blog_img">
                        <ul>
                            <li>29 Jul, 2020</li>
                        </ul>
                    </div>
                    <div class="hs_lest_news_cont_wrapper">
                        <div class="hs_lest_news_meta_wrapper">
                            <ul>
                                <li>
                                    <a href="#">By - Admin</a>
                                </li>
                                <li>
                                    <a href="#">256 Comments</a>
                                </li>
                            </ul>
                        </div>
                        <h5>Proin gravida nibh vel velit auctor aliquet.</h5>
                        <p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet.</p>
                        <h4><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_lest_news_box_wrapper">
                    <div class="hs_lest_news_img_wrapper">
                        <img src="~/assets/images/content/news_img2.jpg" alt="blog_img">
                        <ul>
                            <li>29 Jul, 2020</li>
                        </ul>
                    </div>
                    <div class="hs_lest_news_cont_wrapper">
                        <div class="hs_lest_news_meta_wrapper">
                            <ul>
                                <li>
                                    <a href="#">By - Admin</a>
                                </li>
                                <li>
                                    <a href="#">256 Comments</a>
                                </li>
                            </ul>
                        </div>
                        <h5>Proin gravida nibh vel velit auctor aliquet.</h5>
                        <p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet.</p>
                        <h4><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_lest_news_box_wrapper">
                    <div class="hs_lest_news_img_wrapper">
                        <img src="~/assets/images/content/news_img3.jpg" alt="blog_img">
                        <ul>
                            <li>29 Jul, 2020</li>
                        </ul>
                    </div>
                    <div class="hs_lest_news_cont_wrapper">
                        <div class="hs_lest_news_meta_wrapper">
                            <ul>
                                <li>
                                    <a href="#">By - Admin</a>
                                </li>
                                <li>
                                    <a href="#">256 Comments</a>
                                </li>
                            </ul>
                        </div>
                        <h5>Proin gravida nibh vel velit auctor aliquet.</h5>
                        <p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet.</p>
                        <h4><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_effect_btn">
                    <ul>
                        <li><a href="#" class="hs_btn_hover">View All</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs latest news wrapper End -->